n8n-workflows/wf_2_calculator.json
{
  "name": "KONA - 02 WA Redirect (Calculadora)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kona-calculadora",
        "options": {}
      },
      "id": "webhook-calc",
      "name": "Webhook Calculadora",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "kona-calc"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "WhatsApp",
              "value": "={{ $json.body.wa.replace(/\\s+/g, '').replace(/[^0-9+]/g, '') }}"
            },
            {
              "name": "Nombre",
              "value": "={{ $json.body.nombre || $json.body.name || '' }}"
            },
            {
              "name": "Proceso_Elegido",
              "value": "={{ $json.body.proceso || '' }}"
            },
            {
              "name": "Evento",
              "value": "={{ $json.body.evento || 'wa_redirect_pageview' }}"
            },
            {
              "name": "UTM_Source",
              "value": "={{ $json.body.utm_source || '' }}"
            },
            {
              "name": "UTM_Medium",
              "value": "={{ $json.body.utm_medium || '' }}"
            },
            {
              "name": "UTM_Campaign",
              "value": "={{ $json.body.utm_campaign || '' }}"
            },
            {
              "name": "Status",
              "value": "wa_redirect"
            },
            {
              "name": "Fecha_Calculadora",
              "value": "={{ new Date().toISOString() }}"
            }
          ],
          "number": [
            {
              "name": "Costo_Anual",
              "value": "={{ $json.body.costoAnual || $json.body.directCost || 0 }}"
            },
            {
              "name": "Costo_Mensual",
              "value": "={{ $json.body.costoMensual || 0 }}"
            },
            {
              "name": "Recuperable",
              "value": "={{ $json.body.recuperable || $json.body.netoAnual || 0 }}"
            },
            {
              "name": "Personas",
              "value": "={{ $json.body.personas || 0 }}"
            },
            {
              "name": "Tasa_Error",
              "value": "={{ $json.body.tasaError || 0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-calc",
      "name": "Cargar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LPgUQNf-_lZowkmlFYM0ryZgYPf7LLVYvdpCKj6i8o8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $('Cargar Datos').item.json.Status }}",
            "Nombre": "={{ $('Cargar Datos').item.json.Nombre }}",
            "Proceso_Elegido": "={{ $('Cargar Datos').item.json.Proceso_Elegido }}",
            "Evento": "={{ $('Cargar Datos').item.json.Evento }}",
            "Costo_Anual": "={{ $('Cargar Datos').item.json.Costo_Anual }}",
            "Costo_Mensual": "={{ $('Cargar Datos').item.json.Costo_Mensual }}",
            "Recuperable": "={{ $('Cargar Datos').item.json.Recuperable }}",
            "Personas": "={{ $('Cargar Datos').item.json.Personas }}",
            "Tasa_Error": "={{ $('Cargar Datos').item.json.Tasa_Error }}",
            "UTM_Source": "={{ $('Cargar Datos').item.json.UTM_Source }}",
            "UTM_Medium": "={{ $('Cargar Datos').item.json.UTM_Medium }}",
            "UTM_Campaign": "={{ $('Cargar Datos').item.json.UTM_Campaign }}",
            "Fecha_Calculadora": "={{ $('Cargar Datos').item.json.Fecha_Calculadora }}"
          }
        },
        "options": {
          "key": "WhatsApp",
          "keyValue": "={{ $('Cargar Datos').item.json.WhatsApp }}"
        }
      },
      "id": "update-lead-calc",
      "name": "Actualizar Fila Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Cargar Datos').item.json.Costo_Anual }}",
              "rightValue": 30000,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-high-value",
      "name": "Oportunidad > 5000?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 100]
    },
    {
      "parameters": {},
      "id": "hot-lead-alert",
      "name": "Alerta Lead Caliente",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 80],
      "notesInFlow": true,
      "notes": "Costo_Anual > $30K → avisar a Axel por Telegram. Usar script 00-triage-respuesta.txt"
    },
    {
      "parameters": {
        "amount": 120,
        "unit": "minutes"
      },
      "id": "wait-120m",
      "name": "Esperar 120m",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300],
      "webhookId": "wait-120m-calc"
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1LPgUQNf-_lZowkmlFYM0ryZgYPf7LLVYvdpCKj6i8o8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "lookupColumn": "WhatsApp",
        "lookupValue": "={{ $('Cargar Datos').item.json.WhatsApp }}",
        "options": {}
      },
      "id": "recheck-calc",
      "name": "Revisar Formulario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "calculadora_completa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-still-calc",
      "name": "Si NO llenó Form",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {},
      "id": "notify-calc-abandon",
      "name": "Alerta Seguimiento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 200],
      "notesInFlow": true,
      "notes": "Lead llegó a wa-redirect pero no envió WA → usar script 02-no-envio-wa.txt"
    }
  ],
  "connections": {
    "Webhook Calculadora": {
      "main": [
        [
          {
            "node": "Cargar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Datos": {
      "main": [
        [
          {
            "node": "Actualizar Fila Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Fila Sheet": {
      "main": [
        [
          {
            "node": "Oportunidad > 5000?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Esperar 120m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oportunidad > 5000?": {
      "main": [
        [
          {
            "node": "Alerta Lead Caliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 120m": {
      "main": [
        [
          {
            "node": "Revisar Formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisar Formulario": {
      "main": [
        [
          {
            "node": "Si NO llenó Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si NO llenó Form": {
      "main": [
        [
          {
            "node": "Alerta Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
