n8n-workflows/wf_3_form.json
{
  "name": "KONA - 03 Formulario",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kona-form",
        "options": {}
      },
      "id": "webhook-form",
      "name": "Webhook Formulario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "kona-form"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "WhatsApp",
              "value": "={{ $json.body.wa.replace(/\\s+/g, '').replace(/[^0-9+]/g, '') }}"
            },
            {
              "name": "Respuesta_Q1",
              "value": "={{ $json.body.q1 }}"
            },
            {
              "name": "Respuesta_Q2",
              "value": "={{ $json.body.q2 }}"
            },
            {
              "name": "Respuesta_Q3",
              "value": "={{ $json.body.q3 }}"
            },
            {
              "name": "Status",
              "value": "formulario_enviado"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-form",
      "name": "Mapear Respuestas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LPgUQNf-_lZowkmlFYM0ryZgYPf7LLVYvdpCKj6i8o8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $('Mapear Respuestas').item.json.Status }}",
            "Respuesta_Q1": "={{ $('Mapear Respuestas').item.json.Respuesta_Q1 }}",
            "Respuesta_Q2": "={{ $('Mapear Respuestas').item.json.Respuesta_Q2 }}",
            "Respuesta_Q3": "={{ $('Mapear Respuestas').item.json.Respuesta_Q3 }}"
          }
        },
        "options": {
          "key": "WhatsApp",
          "keyValue": "={{ $('Mapear Respuestas').item.json.WhatsApp }}"
        }
      },
      "id": "consolidate-lead",
      "name": "Consolidar en Fila Principal",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {},
      "id": "notify-form",
      "name": "Mensaje: Nuevo Agendamiento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 300],
      "notesInFlow": true,
      "notes": "Alerta a Telegram / Mail"
    }
  ],
  "connections": {
    "Webhook Formulario": {
      "main": [
        [
          {
            "node": "Mapear Respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Respuestas": {
      "main": [
        [
          {
            "node": "Consolidar en Fila Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar en Fila Principal": {
      "main": [
        [
          {
            "node": "Mensaje: Nuevo Agendamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
